html,
body {
  font-family: 'Bebas Neue', cursive, 'Open Sans', sans-serif;
  font-size: 16px;
  text-size-adjust: none;
  background-color: #000;
  color: #fff;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 95vw;

    &-wrapper {
      &__title {
        font-size: 4em;
      }

      &__subtitle {
        font-size: 1.5em;
      }
    }
  }
}

/**
 *
 * reset
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#line {
  border-bottom: 1px solid #fff;
  color: #fff;
  display: block;
  height: 1px;
  width: 70%;
  margin: 15px 0;
}
.icons {
  display: flex;
  justify-content: space-between;
  font-size: 2.5em;
}
a:link {
  color: black;
}
a:visited {
  color: #aaa;
}

.fab {
  color: #fff;
}

@media (max-width: 980px) {
  body {
    .container {
      &-wrapper {
        &__title {
          font-size: 3em;
        }
        .icons {
          justify-content: space-around;
        }
      }
    }
  }
}
