.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background: transparent;
  z-index: 10;
  user-select: none;
  height: 80px;

  .timelineWrapper {
    position: relative;
    padding: 0 2rem;

    .timeline {
      position: absolute;

      .circle {
      }
    }
  }


  .title {
    height: 100%;
    line-height: 80px;
  }
}