@use 'src/styles/scss/base/constant.scss' as *;

$breakpoint: (
  // 最小幅
  minimum: 'max-width: #{$s-minimum-page-width}',
  // smartphones
  sp: 'max-width: #{$s-media-sp-width}',
  // tablets
  tab: 'max-width: #{$s-media-tab-width}',
  // desktops
  pc: 'min-width: #{$s-media-tab-width + 1}'
) !default;

@mixin mq($bp) {
  @media screen and (#{map-get($breakpoint, $bp)}) {
    @content;
  }
}
